<launch>

<rosparam file="$(find ROBOT_PROYECTO_FUNDA_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="ROBOT_PROYECTO_FUNDA" args="Revolución 1_position_controller Revolución 2_position_controller Revolución 4_position_controller Revolución 5_position_controller Revolución 6_position_controller Revolución 7_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/ROBOT_PROYECTO_FUNDA/joint_states"/>
</node>

</launch>